:root {
	--color-primary: #01393a;
	--color-secondary: #f0a082;
	--footer-height: 150px;
	--header-height: 100px;
}

a.nav-item.nav-link {
	color: white;
	font-family: prata;
	text-decoration: none;
	transition: all 600ms;
}

a.nav-item.nav-link:hover {
	background: var(--color-secondary);
	border-radius: 28px;
	color: var(--color-primary);
	cursor: pointer;
	font-weight: bold;
}

footer {
	background: var(--color-primary);
	bottom: 0;
	height: var(--footer-height);
	left: 0;
	width: 100%;
}

footer .container {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 20px 0px 20px;
}

small {
	margin-right: 18px;
	opacity: 0;
	transition: opacity 300ms;
}

header {
	background: var(--color-primary);
	box-shadow: 0px 0px 3px grey;
	height: var(--header-height);
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

header .container {
	align-items: center;
	display: flex;
	height: inherit;
	justify-content: space-between;
}

img.article-image {
	width: 100%;
	object-fit: cover;
	margin-top: 18px;
}

img.footer-logo {
	width: 200px;
}

img.logo {
	width: 230px;
	height: 89px;
}

label {
	font-weight: bold;
}

ul {
	display: flex;
	list-style: none;
}

.blankspace {
	height: 500px;
}

.btn-success {
	background: var(--color-primary);
	border: 1px solid var(--color-primary);
}

.container {
	margin: auto;
	width: 90%;
}

.error {
	opacity: 1 !important;
}

.param-container {
	display: flex;
	justify-content: center;
	margin-top: calc(var(--header-height) + 20px);
	text-align: left;
}

.param-date-container {
	display: flex;
}

.param-date-container select {
	margin-left: 8px;
}

.result-container {
	display: flex;
	justify-content: center;
	margin-top: calc(var(--header-height) + 20px);
	text-align: left;
}

.row {
	width: 50%;
}

.selector-container {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 5px 0px;
}

.selector-container label {
	margin-right: 10px;
}

.modal-header {
	flex-direction: column;
	margin-top: 10px;
}

.modal-close {
	position: fixed;
	opacity: 0.8;
	margin-left: 465px;
	z-index: 1000;
}
