a.nav-item.nav-link {
	color: white;
	font-family: prata;
	text-decoration: none;
	transition: all 600ms;
}

a.nav-item.nav-link:hover {
	background: #f0a082e3;
	border-radius: 28px;
	color: #003638;
	cursor: pointer;
	font-weight: bold;
}

footer {
	background: #003638;
	bottom: 0;
	height: 16vh;
	left: 0;
	position: fixed;
	width: 100%;
}

footer .container {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 20px 0px 20px;
}

header {
	background: #003638;
	box-shadow: 0px 0px 3px grey;
	height: 13vh;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

header .container {
	align-items: center;
	display: flex;
	height: inherit;
	justify-content: space-between;
}

img.footer-logo {
	width: 200px;
}

img.logo {
	width: 230px;
	height: 89px;
}

ul {
	display: flex;
	list-style: none;
}

.container {
	margin: auto;
	width: 90%;
}
