:root {
	--color-primary: #01393a;
	--color-secondary: #f0a082;
	--footer-height: 150px;
	--header-height: 100px;
}

a.nav-item.nav-link {
	color: white;
	font-family: prata;
	text-decoration: none;
	transition: all 600ms;
}

a.nav-item.nav-link:hover {
	background: var(--color-secondary);
	border-radius: 28px;
	color: var(--color-primary);
	cursor: pointer;
	font-weight: bold;
}

footer {
	background: var(--color-primary);
	bottom: 0;
	height: var(--footer-height);
	left: 0;
	width: 100%;
}

footer .container {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 20px 0px 20px;
}

small {
	margin-right: 18px;
	opacity: 0;
	transition: opacity 300ms;
}

header {
	background: var(--color-primary);
	box-shadow: 0px 0px 3px grey;
	height: var(--header-height);
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

header .container {
	align-items: center;
	display: flex;
	height: inherit;
	justify-content: space-between;
}

img.article-image {
	width: 100%;
	object-fit: cover;
	margin-top: 18px;
}

img.footer-logo {
	width: 200px;
}

img.logo {
	width: 230px;
	height: 89px;
}

label {
	font-weight: bold;
}

ul {
	display: flex;
	list-style: none;
}

.blankspace {
	height: 500px;
}

.btn-success {
	background: var(--color-primary);
	border: 1px solid var(--color-primary);
}

.container {
	margin: auto;
	width: 90%;
}

.error {
	opacity: 1 !important;
}

.param-container {
	display: flex;
	justify-content: center;
	margin-top: calc(var(--header-height) + 20px);
	text-align: left;
}

.param-date-container {
	display: flex;
}

.param-date-container select {
	margin-left: 8px;
}

.result-container {
	display: flex;
	justify-content: center;
	margin-top: calc(var(--header-height) + 20px);
	text-align: left;
}

.row {
	width: 50%;
}

.selector-container {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 5px 0px;
}

.selector-container label {
	margin-right: 10px;
}

.modal-header {
	flex-direction: column;
	margin-top: 10px;
}

.modal-close {
	position: fixed;
	opacity: 0.8;
	margin-left: 465px;
	z-index: 1000;
}

.body{
	margin: 0;
}

.result-container h2 {
    text-align: center;
    left: 22px;
}


.result-spinner{
	border: 5px solid white;
	border-left: 4px solid rgb(25, 56, 25);
	border-right: 4px solid rgb(25, 56, 25);
	border-bottom: 4px solid  rgb(25, 56, 25);
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: spin 2s linear infinite;
	float: right;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	right: 21px;
	margin: -48px 3px 38px 234px;
	left: 257px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .result-alert {
    opacity: 0;
    transition: opacity 400ms;
}

.alert{
	opacity: 1 !important;
}

.result-card-container {
    padding: 0 10px;
    position: relative;
	justify-content: center;
}

.result-card.col-md-12.offset-md-6 {
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding: 0 10px;
    top: 10px;
    left: auto;
    right: 23px;
    margin: -12px 403px 55px 376px;
    position: relative;
}


.result-card-button {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
}

button {
    color: white;
    background-color: rgb(25, 56, 25);
    border-radius: 5%;
    padding: 5px 10px;
    margin: 0 0 10px 10px;
}
.result-pagination {
	position: relative;
	margin: 0px 231px -334px 191px;
	top: 239px;
	right: 295px;
	padding: 0px 4px;
	width: 35%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}
a.page-link {
    border: 2px solid rgb(25,56,25);
    color: rgb(25, 40, 25);
	outline-width: thin;
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

ul.pagination {
    color: rgb(25,56,25);
}

li.page-item {
    color: rgb(25,56,25);
}

li.page-item-active {
    color: white;
    background-color: rgb(25,56,25);
}

.pagination a {
    padding: 8px 16px;
}
.pagination a.active {
    background-color: rgb(25,56,25);
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: rgb(25,56,25);
    color: white;
}


li.page-item-active {
    color: white;
    background-color: rgb(25,56,25);
}

li.page-item:first-child {
    width: 61px;
    text-align: center;
	border:  darkgreen;
	margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

li.page-item:last-child {
    width: 61px;
    text-align: center;
    border: darkgreen;
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}
